:root {
    --white--color: #fff;
    --black--color: #000;
    --text--color: #333;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 6.25%;
    /* 1px = 6.25% của 1rem */

    box-sizing: border-box;

    font-family: sans-serif;
    /* font chữ ko gạch chân */

    line-height: 16rem;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

